#parameters
-d=2 
-t=bezier -ss=500 -rss=0 -sd=0.1 -rsd=0 -control=0,4,0,3 
-t=bezier -ss=1000 -rss=0 -sd=0.1 -rsd=0 -control=-1,3,1,3 
-t=nodeFix -ss=200 -sd=0.05 -coordinate=-0.8,2.8 -label=3 
-t=nodeFix -ss=200 -sd=0.05 -coordinate=-0.4,2.8 -label=3 
-t=nodeFix -ss=200 -sd=0.05 -coordinate=0,2.8 -label=3 
-t=nodeFix -ss=200 -sd=0.05 -coordinate=0.4,2.8 -label=3 
-t=nodeFix -ss=200 -sd=0.05 -coordinate=0.8,2.8 -label=3 
-t=bezier -ss=500 -rss=0 -sd=0.05 -rsd=0 -control=-1,2.6,1,2.6 
-t=bezier -ss=1000 -rss=1 -sd=0.1 -rsd=1 -control=-1,2.5,-2.3,2.2,-2.3,0 -label=0 
-t=bezier -ss=1000 -rss=-1 -sd=0.2 -rsd=-1 -control=-2.3,0,-2.3,-2.2,-1,-2.5 -label=0 
-t=bezier -ss=1000 -rss=1 -sd=0.1 -rsd=1.5 -control=-0.5,2.5,-1.3,2,-1.3,0 -label=0 
-t=bezier -ss=1000 -rss=-1 -sd=0.25 -rsd=-1.5 -control=-1.3,0,-1.3,-2,-0.5,-2.5 -label=0 
-t=bezier -ss=1000 -rss=1 -sd=0.1 -rsd=2.5 -control=0,2.5,0,0 -label=0 
-t=bezier -ss=1000 -rss=-1 -sd=0.3 -rsd=-2.5 -control=0,0,0,-2.5 -label=0 
-t=bezier -ss=1000 -rss=1 -sd=0.1 -rsd=1.5 -control=0.5,2.5,1.3,2,1.3,0 -label=0 
-t=bezier -ss=1000 -rss=-1 -sd=0.25 -rsd=-1.5 -control=1.3,0,1.3,-2,0.5,-2.5 -label=0 
-t=bezier -ss=1000 -rss=1 -sd=0.1 -rsd=1 -control=1,2.5,2.3,2.2,2.3,0 -label=0 
-t=bezier -ss=1000 -rss=1 -sd=0.2 -rsd=-1 -control=2.3,0,2.3,-2.2,1,-2.5 -label=0 
-t=bezier -ss=1500 -rss=0 -sd=0.2 -rsd=0 -control=-1,-2.8,1,-2.8 
-t=bezier -ss=500 -rss=-2 -sd=0.05 -rsd=3 -control=-0.8,-3.2,-1,-8,-2.5,-10 
-t=bezier -ss=500 -rss=-2 -sd=0.05 -rsd=3 -control=-0.4,-3.2,-0.6,-8,-2.1,-10 
-t=bezier -ss=500 -rss=-2 -sd=0.05 -rsd=3 -control=-0,-3.2,-0.2,-8,-1.6,-10 
-t=bezier -ss=500 -rss=-2 -sd=0.05 -rsd=3 -control=0.4,-3.2,0.2,-8,-1.1,-10 
-t=bezier -ss=500 -rss=-2 -sd=0.05 -rsd=3 -control=0.8,-3.2,0.6,-8,-0.6,-10 
-t=bezier -ss=100 -rss=0 -sd=0.01 -rsd=0 -control=0,4.2,-1,6,1,6,0,4.2
#recurrent
-d=2
-t=bezier -ss=500 -rss=0.0 -sd=0.1 -rsd=0.0 -control=0.0,4.0,0.0,3.0 -offset=0.0,0.0 -label=0
-t=bezier -ss=1000 -rss=0.0 -sd=0.1 -rsd=0.0 -control=-1.0,3.0,1.0,3.0 -offset=0.0,0.0 -label=1
-t=nodeFix -ss=200 -sd=0.05 -coordinate=-0.8,2.8 -label=3
-t=nodeFix -ss=200 -sd=0.05 -coordinate=-0.4,2.8 -label=3
-t=nodeFix -ss=200 -sd=0.05 -coordinate=0.0,2.8 -label=3
-t=nodeFix -ss=200 -sd=0.05 -coordinate=0.4,2.8 -label=3
-t=nodeFix -ss=200 -sd=0.05 -coordinate=0.8,2.8 -label=3
-t=bezier -ss=500 -rss=0.0 -sd=0.05 -rsd=0.0 -control=-1.0,2.6,1.0,2.6 -offset=0.0,0.0 -label=7
-t=bezier -ss=1000 -rss=1.0 -sd=0.1 -rsd=1.0 -control=-1.0,2.5,-2.3,2.2,-2.3,0.0 -offset=0.0,0.0 -label=0
-t=bezier -ss=1000 -rss=-1.0 -sd=0.2 -rsd=-1.0 -control=-2.3,0.0,-2.3,-2.2,-1.0,-2.5 -offset=0.0,0.0 -label=0
-t=bezier -ss=1000 -rss=1.0 -sd=0.1 -rsd=1.5 -control=-0.5,2.5,-1.3,2.0,-1.3,0.0 -offset=0.0,0.0 -label=0
-t=bezier -ss=1000 -rss=-1.0 -sd=0.25 -rsd=-1.5 -control=-1.3,0.0,-1.3,-2.0,-0.5,-2.5 -offset=0.0,0.0 -label=0
-t=bezier -ss=1000 -rss=1.0 -sd=0.1 -rsd=2.5 -control=0.0,2.5,0.0,0.0 -offset=0.0,0.0 -label=0
-t=bezier -ss=1000 -rss=-1.0 -sd=0.3 -rsd=-2.5 -control=0.0,0.0,0.0,-2.5 -offset=0.0,0.0 -label=0
-t=bezier -ss=1000 -rss=1.0 -sd=0.1 -rsd=1.5 -control=0.5,2.5,1.3,2.0,1.3,0.0 -offset=0.0,0.0 -label=0
-t=bezier -ss=1000 -rss=-1.0 -sd=0.25 -rsd=-1.5 -control=1.3,0.0,1.3,-2.0,0.5,-2.5 -offset=0.0,0.0 -label=0
-t=bezier -ss=1000 -rss=1.0 -sd=0.1 -rsd=1.0 -control=1.0,2.5,2.3,2.2,2.3,0.0 -offset=0.0,0.0 -label=0
-t=bezier -ss=1000 -rss=1.0 -sd=0.2 -rsd=-1.0 -control=2.3,0.0,2.3,-2.2,1.0,-2.5 -offset=0.0,0.0 -label=0
-t=bezier -ss=1500 -rss=0.0 -sd=0.2 -rsd=0.0 -control=-1.0,-2.8,1.0,-2.8 -offset=0.0,0.0 -label=18
-t=bezier -ss=500 -rss=-2.0 -sd=0.05 -rsd=3.0 -control=-0.8,-3.2,-1.0,-8.0,-2.5,-10.0 -offset=0.0,0.0 -label=19
-t=bezier -ss=500 -rss=-2.0 -sd=0.05 -rsd=3.0 -control=-0.4,-3.2,-0.6,-8.0,-2.1,-10.0 -offset=0.0,0.0 -label=20
-t=bezier -ss=500 -rss=-2.0 -sd=0.05 -rsd=3.0 -control=-0.0,-3.2,-0.2,-8.0,-1.6,-10.0 -offset=0.0,0.0 -label=21
-t=bezier -ss=500 -rss=-2.0 -sd=0.05 -rsd=3.0 -control=0.4,-3.2,0.2,-8.0,-1.1,-10.0 -offset=0.0,0.0 -label=22
-t=bezier -ss=500 -rss=-2.0 -sd=0.05 -rsd=3.0 -control=0.8,-3.2,0.6,-8.0,-0.6,-10.0 -offset=0.0,0.0 -label=23
-t=bezier -ss=100 -rss=0.0 -sd=0.01 -rsd=0.0 -control=0.0,4.2,-1.0,6.0,1.0,6.0,0.0,4.2 -offset=0.0,0.0 -label=24
