#parameters
-d=2 
-t=node -ss=1000 -sd=1 -overlap=0 -angle=0,0 -cross=0 
-t=node -ss=500 -sd=1 -overlap=0 -ref=0 -angle=0,0 -cross=0 
-t=node -ss=250 -sd=1 -overlap=0 -ref=1 -angle=0,0 -cross=0 
-t=node -ss=125 -sd=1 -overlap=0 -ref=2 -angle=0,0 -cross=0 
-t=node -ss=65 -sd=1 -overlap=0 -ref=3 -angle=0,0 -cross=0
#recurrent
-d=2
-t=nodeFix -ss=1000 -sd=1.0 -coordinate=0.0,0.0 -label=0
-t=nodeFix -ss=500 -sd=1.0 -coordinate=6.0,0.0 -label=1
-t=nodeFix -ss=250 -sd=1.0 -coordinate=12.0,0.0 -label=2
-t=nodeFix -ss=125 -sd=1.0 -coordinate=18.0,0.0 -label=3
-t=nodeFix -ss=65 -sd=1.0 -coordinate=24.0,0.0 -label=4
