#parameters
-d=2 
-t=node -ss=500 -sd=1 -overlap=0 -angle=0,0 -cross=0 
-t=node -ss=500 -sd=1.6 -overlap=0 -ref=0 -angle=0,0 -cross=0 
-t=node -ss=500 -sd=2.2 -overlap=0 -ref=1 -angle=0,0 -cross=0 
-t=node -ss=500 -sd=2.8 -overlap=0 -ref=2 -angle=0,0 -cross=0 
-t=node -ss=500 -sd=3.4 -overlap=0 -ref=3 -angle=0,0 -cross=1
#recurrent
-d=2
-t=nodeFix -ss=500 -sd=1.0 -coordinate=0.0,0.0 -label=0
-t=nodeFix -ss=500 -sd=1.6 -coordinate=7.8,0.0 -label=1
-t=nodeFix -ss=500 -sd=2.2 -coordinate=19.2,0.0 -label=2
-t=nodeFix -ss=500 -sd=2.8 -coordinate=34.2,0.0 -label=3
-t=nodeFix -ss=500 -sd=3.4 -coordinate=52.800003,0.0 -label=4
