#parameters
-d=2 
-t=node -ss=1000 -sd=1 -overlap=-0.8 -angle=0,0 -cross=0 
-t=node -ss=1000 -sd=1 -overlap=-0.4 -ref=0 -angle=0,0 -cross=0 
-t=node -ss=1000 -sd=1 -overlap=0 -ref=1 -angle=0,0 -cross=0 
-t=node -ss=1000 -sd=1 -overlap=0.4 -ref=2 -angle=0,0 -cross=0 
-t=node -ss=1000 -sd=1 -overlap=0.8 -ref=3 -angle=0,0 -cross=0 
-t=node -ss=1000 -sd=1 -overlap=1.2 -ref=4 -angle=0,0 -cross=0
#recurrent
-d=2
-t=nodeFix -ss=1000 -sd=1.0 -coordinate=0.0,0.0 -label=0
-t=nodeFix -ss=1000 -sd=1.0 -coordinate=7.2,0.0 -label=1
-t=nodeFix -ss=1000 -sd=1.0 -coordinate=13.2,0.0 -label=2
-t=nodeFix -ss=1000 -sd=1.0 -coordinate=18.0,0.0 -label=3
-t=nodeFix -ss=1000 -sd=1.0 -coordinate=21.6,0.0 -label=4
-t=nodeFix -ss=1000 -sd=1.0 -coordinate=24.0,0.0 -label=5
